  <%- include("navigation") -%>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 col-lg-2 d-md-block sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-white" href="/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-white" href="/user-game">User Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-white" href="/user-game-biodata">User Game Biodata</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-white" href="user-game-history">User Game History</a>
          </li>
        </ul>
      </nav>

      <main class="col-md-10 col-lg-10 ml-sm-auto">
        <div class="container mt-5">
          <div class="row justify-content-end ">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary">
                  <a href="<%= '/dashboard/create' %>" id="showFormCreate" class="btn btn-lg btn-block mb-3 justify-content-center mt-2 text-light">
                  Create User</a>
                </button>
            </div>
          </div>
        </div>
        <%- include("table-dashboard") -%>
      </main>
    </div>
  </div>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js
  "></script>

</script>
  
</body>
</html>