

<%- include("navigation") -%>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 col-lg-2 d-md-block sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white" href="/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white" href="/user-game">User Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white" href="/user-game-biodata">User Game Biodata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-white" href="user-game-history">User Game History</a>
        </li>
      </ul>
    </nav>

    <main class="col-md-10 col-lg-10 ml-sm-auto">
        <div class="container">
            <br>
            <h2 class="mt-4 text-center">User Game Biodata Table</h2>
            <table class="table table-striped table-light">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">User ID</th>
                    <th scope="col">UUID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Country of Birth</th>
                    <th scope="col">Gender</th>
                </tr>
                </thead>
                <tbody>
                <% let i = 1; %>
                <% user_game_biodata.forEach((data) => { %>
                <tr>
                    <td scope="row"><%= i %></td>
                    <td><%= data.id %></td>
                    <td><%= data.uuid %></td>
                    <td><%= data.username %></td>
                    <td><%= data.nama %></td>
                    <td><%= data.email %></td>
                    <td><%= data.date_of_birth %></td>
                    <td><%= data.country_of_birth %></td>
                    <td><%= data.gender %></td>
                </tr>
                <% i++ %>
                <% }); %>
                </tbody>
            </table>
        </div>
    </main>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js
"></script>
</body>
</html>